@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;1,400&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

html,
body {
    font-family: "Source Sans Pro", 'Times New Roman';
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
} 

/* HEADER */

header {
    background-color: #f3b90bde;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 980px;
    height: 80px;
    margin: auto;
}

header nav ul{
    display: flex;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: rgb(90, 9, 136);
    text-transform: uppercase;
    font-size: 18px;
    padding: 24px;
    transition: all 250ms linear 0s;
}

header nav ul li a:hover {
    background: rgb(197, 149, 3);
   
}

header .container img{
    height: 50px;
}

#checkbox-menu{
    display:none
}

/* MAIN */
main {
    margin-bottom: 100px;
    background-color: #9d4ccb;
}

main .container-main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 980px;
    margin: 0px auto 0px auto;
}

h2{
    color: yellow;
    font-size: 45px;
    line-height: 50px;
    font-weight: bold;
    margin-top: 20px;
}

h3{
    color: rgb(196, 197, 113);
    font-size: 20px;
    line-height: 28px;
    margin: 10px 0;
}

form {
    margin-top: 20px;
}

form input {
    width: 380px;
    padding-left: 15px;
    font-size: 18px;
    height: 45px;
    margin-bottom: 13px;
    border-radius: 20px;
    border: 2px solid rgb(211, 136, 38);
}

form [type="submit"] {
    background-color: #f3b90bfb;
    color: purple;
    width: 150px;
    padding-left: 0px;
    font-size: 16px;
    height: 40px;
}
form [type="submit"]:hover {
    cursor: pointer;
    background-color: rgb(197, 149, 3);
    transform: translateY(-2px);
}

main .container-main img{
    width: 600px;
    opacity: 50%;
    
}

/* CARDS */


a {
    text-decoration: none;
}

.cards {
    width: 90%;
    max-width: 980px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    padding-bottom: 100px;
    
}

.text--medium{
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: rgb(92, 89, 89);
}

.card{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    box-shadow: 5px 5px 15px -4px #000000;
    transition: all 0.3s ease 0s;
    border-radius: 10px;
    background-color: #dec57adf;
}

.card:hover{
    transform: translateY(-7px);
}

.image {
    width: 100%;
    padding-top: 56.25%;
    overflow: hidden;
    position: relative;
    border-radius: 10px 10px 0 0;
    height: 225px;
}

.image img{
    position: absolute;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content {
    margin:20px;
}

.title{
    margin-bottom:0px;
}


/*Form Contatos*/
.container-form{
    background-color: #9d4ccb;
    display: flex;
    align-items: center;
    flex-direction: column;  
    
    
}
.container-form p{
    color: yellow;
    
}

select{
    width: 380px;
    padding-left: 100px;
    font-size: 18px;
    height: 45px;
    margin-bottom: 13px;
    border-radius: 20px;
    border: 2px solid rgb(211, 136, 38);
}

textarea{
    width: 380px;
    padding-left: 15px;
    font-size: 18px;
    height: 150px;
    margin-bottom: 13px;
    border-radius: 20px;
    border: 2px solid rgb(211, 136, 38);
}

option{
    color: rgb(211, 136, 38);
    padding-left: 0%;
}  

.form-group{
    display: flex;
    align-items: center;
    color:rgb(132, 129, 129);
}

.button-contact {
    background-color: #f3b90bfb;
    color: purple;
    width: 150px;
    padding-left: 0px;
    font-size: 16px;
    height: 40px;
}
.button-contact:hover {
    cursor: pointer;
    background-color: rgb(197, 149, 3);
    transform: translateY(-2px);
}

footer {
    background-color: #f3b90bde;
    padding-top: 40px;
    padding-bottom: 40px;
}

.text-footer{
    display: flex;
    justify-content: center;
}

.image-footer{
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    
}







